body {
 
    /*background-image: url('../Images/business-people.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left:30px;
    padding-top:100px;*/
    /*background-size:cover;*/

}

a{
    text-decoration:none;
    color:white;
    padding-left:10px;
}